.levelBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.levelBtn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
  color: #5f1a78;
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%), 0 2px 4px 1px rgb(0 0 0 / 20%),
    0 2px 4px 2px rgb(0 0 0 / 20%), 0 4px 8px 4px rgb(0 0 0 / 15%);
}

.levelBtn:hover {
  box-shadow: 0 1px 2px 1px rgb(0 0 0 / 30%), 0 2px 4px 1px rgb(0 0 0 / 25%);
}

.level_btn-0 {
  background: radial-gradient(#d5e1da, #7ed49f);
}

.level_btn-1 {
  background: radial-gradient(#d5dfe1, #6bc2d3);
}

.level_btn-2 {
  background: radial-gradient(#dbe1d5, #d3c26b);
}

.level_btn-3 {
  background: radial-gradient(#e1d5d5, #d36b6b);
}

.level_btn-4 {
  background: radial-gradient(#d6d5e1, #005bd3);
}

.level_btn-5 {
  background: radial-gradient(#d1cee1, #3333b5);
}
