.Button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color .3s, color .3s;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #fff;
  color: #fff;
  padding: 0;
}
.button:hover {}