@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --main-color: #5D87A8;;
    --title-color: #25323D;
    --link-color: #AF48FF;
    --main-bg-color: #E5E5E5;;
    --footer-bg-color: #E7EFF4;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
