.sign__up {
  color: var(--green-color);
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.error {
  color: var(--red-color);
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
