.main {
  display: grid;
  grid-area: body;
  grid-template-columns: 40% 60%;
  padding: 30px 80px;
  background-color: var(--main-bg-color);
}

.title {
  font-size: 44px;
  margin-bottom: 30px;
}

.button {
  margin-right: 30px;
}

.learn {
  position: relative;
  background: url('/public/icons/main.svg') no-repeat center / contain;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.learn__link {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 100%;
  border: 3px solid var(--link-color);
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 1px 0px 34px 41px rgba(255, 255, 255, 0.7);
}

.learn__link:hover {
  box-shadow: 0px 0px 54px 15px rgba(87, 27, 122, 0.2);
}

.learn__title {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.book {
  position: absolute;
  bottom: 30px;
  background: url('/public/icons/book.svg') no-repeat center / contain;
}

.audio {
  position: absolute;
  bottom: 50%;
  left: 10%;
  background: url('/public/icons/audio.svg') no-repeat center / contain;
}

.sprint {
  position: absolute;
  top: 0;
  left: 20%;
  background: url('/public/icons/sprint.svg') no-repeat center / contain;
}

@media (max-width: 768px) {
  .main {
    padding: 30px;
  }
  .sprint {
    left: 65%;
  }
  .audio {
    left: 35%;
  }
  .title {
    font-size: 36px;
  }
  .button {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .main {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .about {
    margin-bottom: 20px;
  }
  .learn__link {
    display: block;
    width: 70px;
    height: 70px;
  }
  .sprint {
    position: static;

    align-self: flex-end;
  }
  .audio {
    position: static;
    align-self: center;
  }
  .book {
    position: static;
  }
  .button {
    margin-right: 5px;
    margin-bottom: 0;
  }
  .learn {
    display: flex;
    flex-direction: column;
  }
  .learn__title {
    position: relative;
    bottom: -65px;
  }
  .learn__link {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
