@mixin flex($direction: column) {
  display: flex;
  flex-direction: $direction;
}

.word {
  @include flex();
  align-items: center;
  width: 400px;
  margin: 0 0 4rem 0;
  background-color: white;

  .word__header {
    .word__header-container {
      .word__btn-block {

      }
      .word__word-container {
        .word__word {

        }
        .word__wordTranslate
      }
    }
  }

  .word__content {
    @include flex();
    
    .word__text {
      .word__textMeaning {

      }
      .word__textExample {

      }
    }

    .word__textTranslate {
      .word__textMeaningTranslate {

      }
      .word__textExampleTranslate {

      }
    }
  }
}